<!-- <nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4"> Jose Ortiz </span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">About</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Skills</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Experience</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contact Me</a></li>
    </ul>
</nav> -->
<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Jose Ortiz</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="/about-me" fragment="about-me" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a routerLink="/tech-stack" fragment="tech-stack" class="nav-link">Skills</a>
    </li>
    <li class="nav-item">
      <a routerLink="/projects" fragment="projects" class="nav-link">Projects</a>
    </li>
    <li class="nav-item">
      <a routerLink="/experience" fragment="experience" class="nav-link">Experience</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact-me" fragment="contact-me" class="nav-link">Contact Me</a>
    </li>
  </ul>
</nav>

